body.department-4-h {
    header {

        .department-brand-block {
            background-image: url(../images/4h-logo.png);
            background-repeat: no-repeat;
            background-size: auto 75%;
            background-position: 99% 25%;
        }

        .navbar {
            background-color: $color-ps-clover;

            .navbar-collapse {
                background-color: $color-ps-clover;
            }
            .cta i {
                color: $color-ps-clover;
            }
        }

        li.nav-item {
            .btn.btn-primary {
                background-color: $color-ps-dark-nittany-navy;
                border-color: $color-ps-dark-nittany-navy;
            }

            .btn.btn-primary:hover, .btn.btn-primary:focus {
                background-color: $color-ps-beaver-blue;
            }
        }
    }

    /* H2 */
    h2::after, .h2::after {
        border-bottom-color: $color-ps-clover;
    }

    /* Buttons */

    .btn.btn-primary {
        background-color: $color-ps-clover;
        border-color: $color-ps-clover;
    }

    .btn.btn-primary:hover, .btn.btn-primary:focus {
        background-color: $color-ps-clover-light;
    }

    .btn.btn-creek {
        background: $color-ps-clover;
    }

    .btn.btn-creek:hover,
    .btn.btn-creek:focus {
        background: $color-ps-clover-dark;
    }

    /* Links */
    button.btn-link,
    .btn-link a,
    a.btn-link,
    a.card .btn-link {
        color: $color-ps-clover-dark;
    }

    /* Borders */
    .border-bottom {
        border-bottom-color: $color-ps-clover-light !important;
    }

    .border-top {
        border-top-color: $color-ps-clover-light !important;
    }

    /* ----------------------------------------------------------

    OFFSET BIG PREVIEW CARDS - SEE DEGREES & PROGRAMS

    ---------------------------------------------------------- */

    .offset-content a:not(.btn),
    .offset-content a:visited:not(.btn) {
        border-bottom: $color-ps-clover-dark;

        &:hover,
        &:focus {
            border-bottom: 1px solid $color-ps-clover;
            color: $black;
        }
    }

    section.offset-previews {

        .container-fluid:nth-of-type(even),
        .container:nth-of-type(even) {

            .row {
                background: $color-ps-clover;
            }

        }
    }

    .home .jumbotron {

        blockquote.home-quote {

            strong {
                color: $color-ps-clover-light10;
            }

            .fas {
                color: $color-ps-clover;
            }
        }
    }

    /* ----------------------------------------------------------

    VALUE PROPOSITIONS

    ---------------------------------------------------------- */

    .card-deck-values {

        .card {

            .card-image-top {
                background-color: $color-ps-clover;
            }

         }

        span {
            color: $color-ps-clover-light15;
        }
    }

    .card-deck-values.card-deck-values-2 {

        .card .hover-content {

            strong {
                color: $color-ps-clover-light20;
            }
        }
    }

    /* ----------------------------------------------------------

    NEWS & EVENTS

    ---------------------------------------------------------- */

    .home .card-news,
    .content-primary .card-news {

        span {
            color: $color-ps-clover-accessible;
        }

        &:hover,
        &:focus {
            span {
                border-bottom: 1px solid $color-ps-clover;
            }
        }
    }

    .event-date-block {
        background-color: $color-ps-clover-light;
    }

    .card.card-news {

        &:hover,
        &:focus {
            p.h3,
            h3.h3 {
                color: $color-ps-clover-accessible;
                text-decoration: underline $color-ps-clover;
            }
        }
    }

    /* SideNav
    --------------------------------------------- */

    .side-nav {

        p {

            a {
                background-color: $color-ps-clover-light;
            }
        }

        li.section-level-1.navTreeCurrentNode {
            > a {
                border-left: 0.5rem solid $color-ps-clover;
            }
        }

        a {

            &:hover,
            &:focus {
                border-left-color: $color-ps-clover;
            }

        }

    }

    .navbar.collapsing-sidenav ul.navTreeLevel1 {
        li a.navTreeCurrentNode {

            &::before {
                color: $color-ps-clover;
            }
        }
    }

    /* dropdown level 2 */
    .navbar.collapsing-sidenav ul.navTreeLevel1 ul.navTreeLevel2 {

        li a {

            &.navTreeCurrentNode {
                border-left-color: $color-ps-clover;
            }
        }
    }

    .side-nav .dropdown {

        [data-toggle="collapse"] {

            i {
                color: $color-ps-clover;
            }

            &:hover,
            &:focus {
                i {
                    color: $color-ps-clover-light10;
                }
            }

        }

        .dropdown-menu {

            a:hover,
            a:focus {
                border-bottom: 1px solid $color-ps-clover;
            }

        }
    }
}

@include media-breakpoint-up(lg) {
    body.department-4-h {

        .department-bar a.department-brand {
            border-left-color: $color-ps-clover;
        }
        .navbar-expand-lg .navbar-nav > {
            .dropdown > .nav-link.dropdown-toggle {
                color: $white;
            }

            .dropdown.show > .nav-link.dropdown-toggle {
                color: $white;
            }
        }

        .navbar-expand-lg .navbar-nav.dropdown-selectors {
            .nav-link[aria-expanded=true],
            .nav-link.dropdown-toggle:focus {
                border-bottom-color: $color-ps-clover-light;
                background-color: $color-ps-clover;
            }
        }
    }
}

@include media-breakpoint-down(md) {

    body.department-4-h {

        header.affix {
            .department-brand-block {
                background-image: none;
            }
        }

        header {

            .department-brand-block {
                background-size: auto 80%;
                background-position: 98.25% 10%;
                padding-bottom: 0.25rem;
            }

            .navbar.college-level {

                border-bottom: none;

                min-height: 0;

                .cta i {
                    color: $white;
                }

                button.btn-toggle-mobile-nav {
                    display: none;
                }
                .navbar-collapse {
                    margin-top: 0;
                    .dropdown > .nav-link.dropdown-toggle {
                        color: $white;
                        font-weight: 600;
                        font-size: 1rem;
                        border-top-width: 0.25rem;
                        padding: 0.75rem;
                    }
                }
                .dropdown-menu {
                    background-color: transparent !important;

                    a {
                        color: $white;
                    }
                }
                .navbar-nav.dropdown-selectors {

                    li.dropdown {
                        border-bottom-color: $color-ps-clover-light;
                    }
                }
            }
        }
    }
}