/*------------------------------------------------

ALERT BAR - Universal Header Alert Bar - Jan 2020

---------------------------------------------------------- */


a.alert-bar {
    background-color: #F7F9FE;
    display: block;
    position: relative;
    color: #000;
    margin: 0 auto;
    text-align: center;
    z-index: 99;

    .alert-bar-content-wrap {
        display: inline-block;
        text-align: left;
        position: relative;
        padding: 1.25rem 1.75rem;
    }

    i.fas {
        font-size: 3rem;
        position: absolute;
        top: 1.375rem;
        left: 1rem;
        color: #666666;
        margin-right: 0.75rem;
    }

    p.alert-bar-title {
        font-family: "Roboto Slab", serif;
        font-weight: 900;
        font-size: 1.5rem;
        margin: 0 0 0.5rem 3.75rem;
        line-height: 1;
        position: relative;
        color: #205EA3;
    }

    p.alert-bar-text {
        font-weight: 400;
        margin: 0 0 0 3.75rem;
        line-height: 1.4;
    }

}

a.alert-bar:hover {
    background-color: #F6F6F6;

    p.alert-bar-title {
        color: #205EA3;
    }
}

@media (min-width: 56.25rem) {
    a.alert-bar i.material-icons {
        font-size: 4rem;
    }

    a.alert-bar p.alert-bar-title {
        margin: 0 0 0.5rem 3.75rem;
        font-size: 1.75rem;
    }

    a.alert-bar p.alert-bar-text {
        margin: 0 0 0 3.75rem;
    }
}

