@mixin link_color() {
    a, a:visited,
    a:active,
    .a {
        color: #009cde !important;
        border-bottom: 1px solid #E9E9E9 !important;
        padding-bottom: 0.0625em !important;
    }

    a:hover,
    .a:hover {
        color: #0078ab !important;
        border-bottom: 1px solid #0078ab !important;
    }

    a.no-border, a.no-border:visited,
    a.no-border:active, a.no-border:hover,
    .a.no-border {
        border-bottom: none !important;;
        padding-bottom: 0 !important;
    }
}

@mixin tile_labels {
    content: attr(data-tile-type);
    position: absolute;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 0.875em;
    margin: 0 0.25em;
    padding: 0.375em;
    font-family: Arial, sans-serif;
    z-index: 1;
}

.mosaic-grid-row {

    margin-left: auto;
    margin-right: auto;

    .mosaic-grid-cell {
        padding: 0;
    }

    .mosaic-tile-content {

        .btn-link a, a.btn-link {
            margin-top: 0.5rem !important;
        }

        .jumbotron, .jumbotron-short-title {
            #portal-breadcrumbs {
                color: #ffffff;
                background-color: transparent;
            }

            p {
                color: #ffffff;
                font-size: 1.25em;
            }
        }

        .jumbotron-short-title {
            #portal-breadcrumbs, p {
                color: #4D565B;
            }
        }

        .cta-bar .btn {
            margin-top: 0.5rem;
        }

        h1.documentFirstHeading {
            border-bottom: none;
            font-size: 64px;
        }

    }
}

.visualClear {
    clear: both !important;
}

.hiddenStructure {
  margin: -1px 0 0 -1px !important;
  padding: 0 !important;
  position: absolute;
  margin-left: -10000px !important;
}

#plone-document-byline {
    font-size: 0.75em;
    margin: 1em 0;
    color: #575757;
}

body.mosaic-layout-customized,
body.template-edit.mosaic-enabled {

    padding-top: 25px;

    #portal-top,
    #portal-mainnavigation,
    #portal-breadcrumbs,
    .mosaic-blur {
        display: none;
    }

    #portal-column-content, main {
        margin: 1em 20%;
    }

    section[data-tile-type]:before {
        @include tile_labels();
    }
}

body.show-tile-labels {
    section[data-tile-type]:before {
        @include tile_labels();
    }
}

body.userrole-authenticated {
    header {
        z-index: 1000;
    }

    footer {
        z-index: 0;
    }

    .mosaic-tile-content {

        section[data-tile-type]:hover:before {
            @include tile_labels();
        }
    }
}

#faceted-form {

    padding-top: 0;

    #faceted-results {
        .tileItem:first-child {
            margin-top: 0;
            padding-top: 0;
        }
    }

    #left-area {
        width: 15rem;
    }

    .left-area-js {
        margin-left: 15em;
    }

    #faceted-top-column,
    #center-content-area,
    #left-area {

        .faceted-criteria {
            dl, .faceted-criteria-hide-show, .faceted-criteria-reset {
                font-size: 0.875em;
                margin-left: 1em;
            }

            dl {
                dt {
                    span {
                        font-weight: 600;
                    }
                }
                dd {
                    margin-left: 1em;
                }
            }
        }

        .widget-fieldset {
            padding: 0;
            margin: 0 0 1.5em 0;
            max-height: 13rem;

            overflow: auto;

            form {

            }
        }
    }

}

body.viewpermission-manage-portal,
body.viewpermission-add-portal-content,
body.viewpermission-manage-schemata,
body.viewpermission-plone-site-setup-site,
body.viewpermission-modify-portal-content,
body.viewpermission-portlets-manage-portlets,
body.viewpermission-plone-site-setup-overview,
body.viewpermission-plone-site-setup-users-and-groups,
body.viewpermission-list-folder-contents {
    #content {
        margin-top: 2em;
    }
}

/* YouTube CSS */

body {
    .youtube-video-embed {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        margin: 1em 0;
        clear: both;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border: none;
            width: 100%;
            height: 100%;
        }
    }

    .youtube-video-embed {
        width: 100%;
        padding-bottom: 100%*(9/16);
    }

    .youtube-video-embed.aspect-16-9 {
        padding-bottom: 100%*(9/16);
    }

    .youtube-video-embed.aspect-4-3 {
        padding-bottom: 100%*(3/4);
    }

    .youtube-video-embed.aspect-3-2 {
        padding-bottom: 100%*(2/3);
    }

}

/* Pending updates to CSS from Steve */
.dropdown-menu-right {
    right: 0;
    left: auto;
}

.comparison-dimmer {
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.degree-listing {
    .container.mix {
        display: flex;
    }

    .checkbox.disabled {
        color: #757575;

        label:before {
            background: #f6f6f6;
            border-color: #CCCCCC;
        }
    }
}

@media (max-width: 768px) {

    body.portaltype-agsci_degree_container {
        #faceted-form {
            .degree-explorer {
                margin: 0;
            }
            #center-area {
                margin: 0;
            }
            #center-and-left-area {
                margin: 0;
            }
            .left-area-js {
                margin: 0;
            }
        }
    }
}

#leadimage img.w-100 {
    height: auto;
}

#portal-breadcrumbs {

    > .container {
        padding-left: 0;
    }

    ol {
        padding: 0;
        margin: 0;

        > li {
            display: inline-block;
            list-style-type: none;
        }
    }
}

body.mosaic-editor {

    article#content {
        display: none;
    }

    // Fixes issue in mosaic editor
    .mce-menu {
        position: fixed !important;
    }

    main {
        margin: 1em 0;
    }

    .datagridwidget-cell {
        vertical-align: top;
    }

}

body.mosaic-editor.plone-toolbar-left-expanded {
    padding: 25px 0 0 !important;
}

#parent-fieldname-text,
.html {
    @include link_color();

    li {
        font-size: 0.9rem;
        line-height: 1.8;
        margin-bottom: 0.75em;
    }

    input, td, th {
        font-family: "Nunito Sans", sans-serif;
        font-size: 0.9rem;
        line-height: 1.8;
    }
}

#content-core {

    .entries {

        padding-top: 1em;

        .entry {

            .documentByLine {
                font-size: 0.6875em;
                margin: 1em 0 0.5em 1em;
                color: #575757;
            }

            span.a {
                font-size: 1.5em;
            }

            @include link_color();

            .description {
                line-height: 1.8;
            }
        }
    }
}

/* This fixes the 'Properties' not showing up when the button is clicked
   in the Mosaic editor. */
.mosaic-overlay {
    .fade.in {
        opacity: 100;
    }
}

.portletWrapper p.h3 {
    margin-top: 0;
}

.accordion.accordion-options {
    > h3 {
        margin-left: 1.5rem;
    }
    > .btn {
        margin-bottom: 1em;
    }
}

.card-vertical {
    .list-bio-contact {
        li {
            margin-top: 0;
        }
    }
    .list-inline-social {
        margin-top: 0;
    }
}

/* Navbar Invalid Links */
header {
    a.invalid {
        text-decoration: underline;
        text-decoration-color: orange;
        text-decoration-style: wavy;
    }
}

body.template-link_check {
    #data-check {
        display: none;
    }
}