@mixin link_color() {
    a, a:visited,
    a:active,
    .a {
        color: #009cde !important;
        border-bottom: 1px solid #E9E9E9 !important;
        padding-bottom: 0.0625em !important;
    }

    a:hover,
    .a:hover {
        color: #0078ab !important;
        border-bottom: 1px solid #0078ab !important;
    }

    a.no-border, a.no-border:visited,
    a.no-border:active, a.no-border:hover,
    .a.no-border {
        border-bottom: none !important;;
        padding-bottom: 0 !important;
    }
}

@mixin body_font() {
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.9rem;
}


@mixin tile_labels {
    content: attr(data-tile-type);
    position: absolute;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 0.875em;
    margin: 0 0.25em;
    padding: 0.375em;
    font-family: Arial, sans-serif;
    z-index: 1;
}

.mosaic-grid-row {

    margin-left: auto;
    margin-right: auto;

    .mosaic-grid-cell {
        padding: 0;
    }

    .mosaic-tile-content {

        .btn-link a, a.btn-link {
            margin-top: 0.5rem !important;
        }

        .jumbotron-standard, .jumbotron-short-title {
            #portal-breadcrumbs {
                color: #ffffff;
                background-color: transparent;
            }

            p {
                color: #ffffff;
                font-size: 1.25em;
            }
        }

        .jumbotron-short {
            #portal-breadcrumbs, p, span {
                color: #4D565B;
            }
        }

        .cta-bar .btn {
            margin-top: 0.5rem;
        }

        h1.documentFirstHeading {
            border-bottom: none;
            font-size: 64px;
        }

    }
}

body.userrole-manager.mosaic-grid,
body.template-edit.mosaic-enabled {
    .mosaic-grid-row {
        border: 1px dashed #F5F5F5;

        .mosaic-grid-cell {
            border: 1px dashed #4B0082;

            .mosaic-tile-content {
                border: 1px dashed #F5F5F5;
            }
        }

        .mosaic-grid-cell:before {
            position: absolute;
            color: #FFFFFF;
            background-color: #4B0082;
            font-size: 0.875em;
            margin: 0 0.25em;
            padding: 0.375em;
            font-family: Arial, sans-serif;
            z-index: 1;
        }

        .mosaic-width-full:before {
            content: "100%";
        }

        .mosaic-width-half:before {
            content: "50%";
        }

        .mosaic-width-quarter:before {
            content: "25%";
        }

        .mosaic-width-three-quarters:before {
            content: "75%";
        }

        .mosaic-width-third:before {
            content: "33%";
        }

        .mosaic-width-two-thirds:before {
            content: "66%";
        }

    }
}

.visualClear {
    clear: both !important;
}

.hiddenStructure {
  margin: -1px 0 0 -1px !important;
  padding: 0 !important;
  position: absolute;
  margin-left: -10000px !important;
}

#plone-document-byline {
    font-size: 0.75em;
    margin: 1em 0;
    color: #575757;
}

body.mosaic-layout-customized,
body.template-edit.mosaic-enabled {

    padding-top: 25px;

    #portal-top,
    #portal-mainnavigation,
    #portal-breadcrumbs,
    .mosaic-blur {
        display: none;
    }

    #portal-column-content, main {
        margin: 1em 20%;
    }

    section[data-tile-type]:before {
        @include tile_labels();
    }
}

body.show-tile-labels {
    section[data-tile-type]:before {
        @include tile_labels();
    }
}

body.userrole-authenticated {
    header {
        z-index: 1000;
    }

    footer {
        z-index: 0;
    }

    .mosaic-tile-content {

        section[data-tile-type]:hover:before {
            @include tile_labels();
        }
    }
}

#faceted-form {

    padding-top: 0;

    #faceted-results {
        .tileItem:first-child {
            margin-top: 0;
            padding-top: 0;
        }
    }

    #left-area {
        width: 15rem;
    }

    .left-area-js {
        margin-left: 15em;
    }

    #faceted-top-column,
    #center-content-area,
    #left-area {

        .faceted-criteria {
            dl, .faceted-criteria-hide-show, .faceted-criteria-reset {
                font-size: 0.875em;
                margin-left: 1em;
            }

            dl {
                dt {
                    span {
                        font-weight: 600;
                    }
                }
                dd {
                    margin-left: 1em;
                }
            }
        }

        .faceted-left-widgets {

            .faceted-widget {
                margin-bottom: 1.5rem;
                border: 1px solid #CCCCCC;

                p.discreet {
                    margin: 0 0.5rem 1em;
                    font-size: 0.75rem;
                    line-height: 1.3;
                }
            }

            .widget-fieldset {
                max-height: 13rem;
                border-width: 0;
                border-style: none;
            }

            #interestarea_widget {
                .widget-fieldset {
                    max-height: 18rem;
                }
            }

            #career_widget {
                .widget-fieldset {
                    max-height: 24rem;
                }
            }
        }

        .widget-fieldset {

            padding: 0;
            margin: 0;
            overflow: auto;
        }

    }

}

body.viewpermission-manage-portal,
body.viewpermission-add-portal-content,
body.viewpermission-manage-schemata,
body.viewpermission-modify-portal-content,
body.viewpermission-portlets-manage-portlets,
body.viewpermission-list-folder-contents,
body.viewpermission-delete-objects,
body.viewpermission-plone-site-setup-editing,
body.viewpermission-plone-site-setup-filtering,
body.viewpermission-plone-site-setup-imaging,
body.viewpermission-plone-site-setup-language,
body.viewpermission-plone-site-setup-mail,
body.viewpermission-plone-site-setup-markup,
body.viewpermission-plone-site-setup-navigation,
body.viewpermission-plone-site-setup-overview,
body.viewpermission-plone-site-setup-search,
body.viewpermission-plone-site-setup-security,
body.viewpermission-plone-site-setup-site,
body.viewpermission-plone-site-setup-themes,
body.viewpermission-plone-site-setup-tinymce,
body.viewpermission-plone-site-setup-types,
body.viewpermission-plone-site-setup-users-and-groups,
body.viewpermission-sharing-page-delegate-roles {
    #content {
        margin-top: 2em;
    }
    #viewlet-below-content {
        display: none;
    }

    section.entries {
        div.container {
            margin-bottom: 1em;
        }

        a,
        a:hover,
        a:focus {
            border-bottom: none !important;
            text-decoration: none;
        }

        a:before {
            content: '' !important;
        }
    }
}

/* YouTube CSS */

body {
    .youtube-video-embed {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        margin: 1em 0;
        clear: both;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border: none;
            width: 100%;
            height: 100%;
        }
    }

    .agjourney-bio {
        .youtube-video-embed {
            margin: 0;
        }
    }

    .youtube-video-embed {
        width: 100%;
        padding-bottom: 100%*(9/16);
    }

    .youtube-video-embed.aspect-16-9 {
        padding-bottom: 100%*(9/16);
    }

    .youtube-video-embed.aspect-4-3 {
        padding-bottom: 100%*(3/4);
    }

    .youtube-video-embed.aspect-3-2 {
        padding-bottom: 100%*(2/3);
    }

}

/* Pending updates to CSS from Steve */
.dropdown-menu-right {
    right: 0;
    left: auto;
}

.comparison-wrapper {
    z-index: 10000;
    position: absolute; /* updated via Javascript to fixed */
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background: #FFFFFF;
}

/* Degree Comparison table */
.comparison-container {

    position: absolute; /* updated via Javascript to fixed */
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;

    .close-comparison-bar {

        position: absolute; /* updated via Javascript to fixed */

        h2 {
            background: transparent;
        }

        h2:after {
            border-bottom: none;
        }
    }

    .rtable.rtable-mobile-labels {
        tbody {
            padding-top: 6rem;

            tr:first-of-type td p {
                font-weight: normal;
            }
        }
        .visual-cards-imgs-cropped {

            position: absolute;  /* updated via Javascript to fixed */

            .card-visual.card-image-top {

                height: 5rem;

                .card-image-overlay {
                    background-color: #314D64;
                }

                img {
                    margin-top: -10000rem;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .comparison-container {

        .rtable.rtable-mobile-labels {

            border-spacing: 1rem 0;
            border-collapse: separate;

            td {

                div {
                    padding: 0.75rem 1.25rem 1rem;
                }

                div.explorer-label {
                    padding: 0.75rem 1rem;

                    span {
                        visibility: visible;
                    }
                }
            }
        }


    }
}

.degree-listing {
    .container.mix {
        display: flex;
    }

    .checkbox.disabled {
        color: #757575;

        label:before {
            background: #f6f6f6;
            border-color: #CCCCCC;
        }
    }
}

@media (max-width: 768px) {
    .comparison-container {

        .rtable.rtable-mobile-labels {
            .visual-cards-imgs-cropped {
                position: static !important;
            }
        }

    }

    body.portaltype-agsci_degree_container {
        #faceted-form {
            .degree-explorer {
                margin: 0;
            }
            #center-area {
                margin: 0;
            }
            #center-and-left-area {
                margin: 0;
            }
            .left-area-js {
                margin: 0;
            }
        }
    }
}

#leadimage img.w-100 {
    height: auto;
}

#portal-breadcrumbs {

    > .container {
        padding-left: 0;
    }

    ol {
        padding: 0;
        margin: 0;

        > li {
            display: inline-block;
            list-style-type: none;
        }
    }
}

body.mosaic-editor {

    article#content {
        display: none;
    }

    // Fixes issue in mosaic editor
    .mce-menu {
        position: fixed !important;
    }

    main {
        margin: 1em 0;
    }

    .datagridwidget-cell {
        vertical-align: top;
    }

}

body.mosaic-editor.plone-toolbar-left-expanded {
    padding: 25px 0 0 !important;
}

#parent-fieldname-text,
.html {
    @include link_color();

    li {
        font-size: 0.9rem;
        line-height: 1.8;
    }

    input, td, th {
        @include body_font();
    }

    td, th {
        line-height: 1.4;
    }

    table.table-sm {
        td, th {
            font-size: 0.875rem;
            line-height: 1.25;
        }
    }
}

#content-core {

    .event.summary {

        margin-bottom: 1rem;

        p {
            margin-bottom: 0;

            line-height: 1.5;

            strong:after {
                content: ": ";
            }
        }
    }

    .entries {

        padding-top: 1em;

        a.card.state-private,
        a.card.state-private:hover,
        a.card.state-private:visited,
        a.card.state-private:link {
            .summary {
                color: #FF0000 !important;
            }
        }

        a.card.state-pending,
        a.card.state-pending:hover,
        a.card.state-pending:visited,
        a.card.state-pending:link {
            .summary {
                color: #FFA500 !important;
            }
        }

        .entry {

            .documentByLine {
                font-size: 0.6875em;
                margin: 1em 0 0.5em 1em;
                color: #575757;
            }

            div.a.summary {
                padding-bottom: 0.25rem !important;
                font-size: 1.25em;
                display: inline-block;
            }

            @include link_color();

            .description {
                line-height: 1.8;
            }

        }
    }
}

/* This fixes the 'Properties' not showing up when the button is clicked
   in the Mosaic editor. */
.mosaic-overlay {
    .fade.in {
        opacity: 100;
    }
}

.portletWrapper p.h3 {
    margin-top: 0;
}

.accordion.accordion-options {
    > h3 {
        margin-left: 1.5rem;
    }
    > .btn {
        margin-bottom: 1em;
    }
}

.card-vertical {
    .list-bio-contact {
        li {
            margin-top: 0;
        }
    }
    .list-inline-social {
        margin-top: 0;
    }
}

.card-deck-image-plain {
    .card.card-visual {

        box-shadow: none;

        .card-image-top {
            background-color: transparent;
        }
    }

}

/* Navbar Invalid Links */
header {
    a.invalid {
        text-decoration: underline;
        text-decoration-color: orange;
        text-decoration-style: wavy;
    }
}

body.template-link_check,
body.template-content_checks {
    #data-check {
        display: none;
    }

    td, th {
        font-size: 1.5rem;
    }
}

.address {
    p, li {
        font-size: 0.825rem;
        line-height: 1.4;
    }

    .list-inline-social {
        a, a:hover, a:visited, a:active {

            .fa-envelope {
                color: black !important;
            }
        }
    }
}

#section-content {
    #data-check {
        th, td {
            font-size: 0.8rem;
            line-height: 1.5;
        }

        input.small {
            font-size: 0.8rem;
        }
    }

    #global_statusmessage {

        flex: 0 0 100%;

        > .portalMessage {
            clear: both;
            font-size: 0.8rem;
            margin: 1em 2em;

            p, span, strong{
                font-size: 0.8rem;
                line-height: 1.5;
            }

            p {
                margin-bottom: 0.375em;
            }
        }
    }
}

body.portaltype-formfolder {
    .pfg-form {
        width: 100%;
        padding: 0;
        background: transparent;

        label, .label, label.formQuestion {
            display: block;
            color: #000000;
            font-weight: 600;
            line-height: 1.5;
            @include body_font();
            font-size: 1rem;
        }

        input[type="text"],
        textarea {
            @include body_font();
        }

        .field {
            width: 100%;
        }

        .field.ArchetypesSelectionWidget {
            span {
                > label {
                    font-weight: normal;
                    display: inline;
                }
            }

            input[type="radio"] {
                margin: 0 0.25rem 0 1rem;
            }

        }


        .formControls {
            margin: 1em 0;

            input[type="submit"] {
                @include body_font();
            }
        }
    }
}

body.portaltype-formthankspage {
    #content-core {
        > blockquote {
            padding: 0;

            @include body_font();

            dl {
                dd {
                    margin: 0.375rem 0 1rem 1rem;
                }
            }
        }
    }
}

body.portaltype-agsci_photofolder {

    .carousel-item {
        img {
            margin: 0 auto;
        }

        .carousel-caption {
            background-color: #575757;
            opacity: 0.9;
            text-align: left;
            bottom: 0;
            left: 0;
            right: 0;

            p {
                line-height: 1.6;
                margin-bottom: 0;
            }
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        opacity: 0.75;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 60px;
        height: 60px;
        background-size: 75% 75%;
        background-color: #575757;
    }
}

body.portaltype-agsci_agjourney {

    .jumbotron-journey {
        .jumbotron-img {
            height: 70vh;
        }
    }
}


/* Hide Ag Journey tile group on non-Ag Journey types */

body:not(.portaltype-agsci_agjourney) {
    .mosaic-option-group-agjourney {
        color: #888888;
        display: none;
    }
}

/* Hide College Homepage tile group on non-College Homepage types */

body:not(.portaltype-agsci_homepage_college) {
    .mosaic-option-group-homepage-college {
        color: #888888;
        display: none;
    }
}

#select2-drop {
    font-size: 14px;
}