
.pagination {
  display: block;
  padding: 0;
  list-style: none;
  margin: 20px 0;
  text-align: center;
}
.pagination ul {
    padding-left: 0;
    display: block;
    margin: 0.5rem auto;
}
.pagination li {
  display: block;
  float: left;
  position: relative;
  padding: 0;
  font-weight: 300;
  line-height: 2.5;
  /* wanna hide the label "next ... items"? */
  /* .label {
      display: none;
    } */
}
.pagination li > a,
.pagination li > span {
  padding: 6px 12px !important;
  line-height: normal;
  text-decoration: none;
  color: #007bb1;
  background-color: #fff;
  border: 1px solid #e5e5e5 !important;
  margin-left: -1px;
}
.pagination li.previous::before,
.pagination li.next::after {
    display: none;
}
.pagination li.previous > a {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination li.previous .arrow:before {
  content: '\3c';
}
.pagination li.next > a {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination li.next .arrow:after {
  content: '\3e';
}
.pagination li > a:hover,
.pagination li > a:focus {
  color: #004665;
  background-color: #f2f1f1;
  border: 1px solid #e5e5e5 !important;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li.active > span {
  z-index: 2;
  font-weight: 400;
  color: #fff;
  background-color: #007bb1;
  border: 1px solid #007bb1 !important;
  cursor: default;
}
.pagination li.disabled > span {
  color: #cccccc;
  background-color: #fcfcfd;
  border: 1px solid #e5e5e5 !important;
  cursor: default;
}
@media (max-width: 480px) {
  .pagination li {
    display: none;
  }
  .pagination li.previous,
  .pagination li.next {
    display: inline;
  }
}