.mosaic-grid-row {
  margin: 0 auto; }
  .mosaic-grid-row .mosaic-grid-cell {
    padding: 0; }
  .mosaic-grid-row .mosaic-tile-content .btn-link a, .mosaic-grid-row .mosaic-tile-content a.btn-link {
    margin-top: 0.5rem !important; }
  .mosaic-grid-row .mosaic-tile-content section[data-tile-type]:hover:before {
    content: attr(data-tile-type);
    position: absolute;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 0.875em;
    margin: 0 0.25em;
    padding: 0.375em;
    font-family: Arial, sans-serif;
    z-index: 1; }
  .mosaic-grid-row .mosaic-tile-content .jumbotron #portal-breadcrumbs, .mosaic-grid-row .mosaic-tile-content .jumbotron-short-title #portal-breadcrumbs {
    color: #ffffff;
    background-color: transparent; }
  .mosaic-grid-row .mosaic-tile-content .jumbotron p, .mosaic-grid-row .mosaic-tile-content .jumbotron-short-title p {
    color: #ffffff;
    font-size: 1.25em; }
  .mosaic-grid-row .mosaic-tile-content .jumbotron-short-title #portal-breadcrumbs, .mosaic-grid-row .mosaic-tile-content .jumbotron-short-title p {
    color: #4D565B; }
  .mosaic-grid-row .mosaic-tile-content .cta-bar .btn {
    margin-top: 0.5rem; }
  .mosaic-grid-row .mosaic-tile-content h1.documentFirstHeading {
    border-bottom: none;
    font-size: 64px; }
  .mosaic-grid-row .mosaic-tile-content .test-tile {
    margin: 1em 0;
    padding: 1em;
    background-color: #4A7729; }
    .mosaic-grid-row .mosaic-tile-content .test-tile h2, .mosaic-grid-row .mosaic-tile-content .test-tile p {
      color: #FFFFFF; }
    .mosaic-grid-row .mosaic-tile-content .test-tile ul {
      display: block;
      list-style-type: none;
      padding: 0;
      margin: 0;
      text-align: center; }
      .mosaic-grid-row .mosaic-tile-content .test-tile ul li {
        margin: 2em auto;
        display: block; }
        .mosaic-grid-row .mosaic-tile-content .test-tile ul li div.outer {
          background-color: #1e407c;
          color: white;
          padding: 1em;
          min-height: 15em;
          position: relative;
          text-align: center; }
          .mosaic-grid-row .mosaic-tile-content .test-tile ul li div.outer div.inner {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            margin: 0 auto; }
            .mosaic-grid-row .mosaic-tile-content .test-tile ul li div.outer div.inner .title, .mosaic-grid-row .mosaic-tile-content .test-tile ul li div.outer div.inner .description {
              text-align: center;
              display: block;
              font-size: 2em; }
            .mosaic-grid-row .mosaic-tile-content .test-tile ul li div.outer div.inner .title {
              font-size: 4em;
              font-weight: bold; }

.visualClear {
  clear: both !important; }

.hiddenStructure {
  margin: -1px 0 0 -1px !important;
  padding: 0 !important;
  position: absolute;
  margin-left: -10000px !important; }

#plone-document-byline {
  font-size: 0.75em;
  margin: 1em 0;
  color: #575757; }

body.mosaic-layout-customized {
  padding-top: 25px; }
  body.mosaic-layout-customized #portal-top,
  body.mosaic-layout-customized #portal-mainnavigation,
  body.mosaic-layout-customized #portal-breadcrumbs,
  body.mosaic-layout-customized .mosaic-blur {
    display: none; }
  body.mosaic-layout-customized #portal-column-content, body.mosaic-layout-customized main {
    margin: 1em 20%; }

body.userrole-authenticated header {
  z-index: 1000; }
body.userrole-authenticated footer {
  z-index: 0; }

#faceted-form {
  padding-top: 0; }
  #faceted-form #faceted-results .tileItem:first-child {
    margin-top: 0;
    padding-top: 0; }
  #faceted-form #left-area {
    width: 15rem; }
  #faceted-form .left-area-js {
    margin-left: 15em; }
  #faceted-form #faceted-top-column .faceted-criteria dl, #faceted-form #faceted-top-column .faceted-criteria .faceted-criteria-hide-show, #faceted-form #faceted-top-column .faceted-criteria .faceted-criteria-reset,
  #faceted-form #center-content-area .faceted-criteria dl,
  #faceted-form #center-content-area .faceted-criteria .faceted-criteria-hide-show,
  #faceted-form #center-content-area .faceted-criteria .faceted-criteria-reset,
  #faceted-form #left-area .faceted-criteria dl,
  #faceted-form #left-area .faceted-criteria .faceted-criteria-hide-show,
  #faceted-form #left-area .faceted-criteria .faceted-criteria-reset {
    font-size: 0.875em;
    margin-left: 1em; }
  #faceted-form #faceted-top-column .faceted-criteria dl dt span,
  #faceted-form #center-content-area .faceted-criteria dl dt span,
  #faceted-form #left-area .faceted-criteria dl dt span {
    font-weight: 600; }
  #faceted-form #faceted-top-column .faceted-criteria dl dd,
  #faceted-form #center-content-area .faceted-criteria dl dd,
  #faceted-form #left-area .faceted-criteria dl dd {
    margin-left: 1em; }
  #faceted-form #faceted-top-column .widget-fieldset,
  #faceted-form #center-content-area .widget-fieldset,
  #faceted-form #left-area .widget-fieldset {
    padding: 0;
    margin: 0 0 1.5em 0;
    max-height: 13rem;
    overflow: auto; }

body.viewpermission-manage-portal #content,
body.viewpermission-add-portal-content #content,
body.viewpermission-manage-schemata #content,
body.viewpermission-plone-site-setup-site #content,
body.viewpermission-modify-portal-content #content,
body.viewpermission-portlets-manage-portlets #content,
body.viewpermission-plone-site-setup-overview #content,
body.viewpermission-plone-site-setup-users-and-groups #content,
body.viewpermission-list-folder-contents #content {
  margin-top: 2em; }

/* YouTube CSS */
body .youtube-video-embed {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin: 1em 0;
  clear: both; }
  body .youtube-video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
    width: 100%;
    height: 100%; }
body .youtube-video-embed {
  width: 100%;
  padding-bottom: 56.25%; }
body .youtube-video-embed.aspect-16-9 {
  padding-bottom: 56.25%; }
body .youtube-video-embed.aspect-4-3 {
  padding-bottom: 75%; }
body .youtube-video-embed.aspect-3-2 {
  padding-bottom: 66.6666666667%; }

/* Pending updates to CSS from Steve */
.dropdown-menu-right {
  right: 0;
  left: auto; }

.comparison-dimmer {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.degree-listing .container.mix {
  display: flex; }
.degree-listing .checkbox.disabled {
  color: #757575; }
  .degree-listing .checkbox.disabled label:before {
    background: #f6f6f6;
    border-color: #CCCCCC; }

@media (max-width: 768px) {
  body.portaltype-agsci_degree_container #faceted-form .degree-explorer {
    margin: 0; }
  body.portaltype-agsci_degree_container #faceted-form #center-area {
    margin: 0; }
  body.portaltype-agsci_degree_container #faceted-form #center-and-left-area {
    margin: 0; }
  body.portaltype-agsci_degree_container #faceted-form .left-area-js {
    margin: 0; } }
#leadimage img.w-100 {
  height: auto; }

#portal-breadcrumbs > .container {
  padding-left: 0; }
#portal-breadcrumbs ol {
  padding: 0;
  margin: 0; }
  #portal-breadcrumbs ol > li {
    display: inline-block;
    list-style-type: none; }

body.mosaic-editor article#content {
  display: none; }
body.mosaic-editor .mce-menu {
  position: fixed !important; }
body.mosaic-editor main {
  margin: 1em 0; }
body.mosaic-editor .datagridwidget-cell {
  vertical-align: top; }

body.mosaic-editor.plone-toolbar-left-expanded {
  padding: 25px 0 0 !important; }

#content-core a, #content-core a:visited,
#content-core a:active,
.html a,
.html a:visited,
.html a:active {
  color: #009cde !important;
  border-bottom: 1px solid #E9E9E9 !important;
  padding-bottom: 0.0625em !important; }
#content-core a:hover,
.html a:hover {
  color: #0078ab !important;
  border-bottom: 1px solid #0078ab !important; }
#content-core a.no-border, #content-core a.no-border:visited,
#content-core a.no-border:active, #content-core a.no-border:hover,
.html a.no-border,
.html a.no-border:visited,
.html a.no-border:active,
.html a.no-border:hover {
  border-bottom: none !important;
  padding-bottom: 0 !important; }

#content-core .entries {
  padding-top: 1em; }
  #content-core .entries .entry {
    margin-bottom: 1.375em; }
    #content-core .entries .entry .documentByLine {
      font-size: 0.75em;
      margin-top: 1em;
      color: #333333; }
    #content-core .entries .entry header {
      min-height: auto;
      margin-bottom: 0.375em; }
    #content-core .entries .entry .description {
      line-height: 1.375; }

/* This fixes the 'Properties' not showing up when the button is clicked
   in the Mosaic editor. */
.mosaic-overlay .fade.in {
  opacity: 100; }

.portletWrapper p.h3 {
  margin-top: 0; }

.accordion.accordion-options > h3 {
  margin-left: 1.5rem; }
.accordion.accordion-options > .btn {
  margin-bottom: 1em; }

.print-only-logo {
  display: none; }

/*# sourceMappingURL=agsci.common.base.css.map */
