body.mosaic-grid .mosaic-tile-content section[data-tile-type]:hover:before {
  content: attr(data-tile-type);
  position: absolute;
  color: #FFFFFF;
  background-color: #000000;
  font-size: 0.875em;
  margin: 0 0.25em;
  padding: 0.375em;
  font-family: Arial, sans-serif; }
body.mosaic-grid .mosaic-tile-content .jumbotron #portal-breadcrumbs {
  color: #ffffff; }
  body.mosaic-grid .mosaic-tile-content .jumbotron #portal-breadcrumbs > .container {
    padding-left: 0; }
  body.mosaic-grid .mosaic-tile-content .jumbotron #portal-breadcrumbs ol {
    padding: 0;
    margin: 0; }
    body.mosaic-grid .mosaic-tile-content .jumbotron #portal-breadcrumbs ol > li {
      display: inline-block;
      list-style-type: none; }
body.mosaic-grid .mosaic-tile-content .jumbotron p {
  color: #ffffff;
  font-size: 1.25em; }
body.mosaic-grid .mosaic-tile-content .cta-bar .btn {
  margin-top: 0.5rem; }
body.mosaic-grid .mosaic-tile-content h1.documentFirstHeading {
  border-bottom: none;
  font-size: 64px; }
body.mosaic-grid .mosaic-tile-content .hero-test {
  background-image: url(../../../images/hero-test); }
body.mosaic-grid .mosaic-tile-content h2.slide-down {
  text-align: center; }
body.mosaic-grid .mosaic-tile-content h2.slide-down:after {
  margin: auto;
  left: 0;
  right: 0; }
body.mosaic-grid .mosaic-tile-content .test-tile {
  margin: 1em 0;
  padding: 1em;
  background-color: #4A7729; }
  body.mosaic-grid .mosaic-tile-content .test-tile h2, body.mosaic-grid .mosaic-tile-content .test-tile p {
    color: #FFFFFF; }
  body.mosaic-grid .mosaic-tile-content .test-tile ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center; }
    body.mosaic-grid .mosaic-tile-content .test-tile ul li {
      margin: 2em auto;
      display: block; }
      body.mosaic-grid .mosaic-tile-content .test-tile ul li div.outer {
        background-color: #1e407c;
        color: white;
        padding: 1em;
        min-height: 15em;
        position: relative;
        text-align: center; }
        body.mosaic-grid .mosaic-tile-content .test-tile ul li div.outer div.inner {
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          transform: translateY(-50%);
          margin: 0 auto; }
          body.mosaic-grid .mosaic-tile-content .test-tile ul li div.outer div.inner .title, body.mosaic-grid .mosaic-tile-content .test-tile ul li div.outer div.inner .description {
            text-align: center;
            display: block;
            font-size: 2em; }
          body.mosaic-grid .mosaic-tile-content .test-tile ul li div.outer div.inner .title {
            font-size: 4em;
            font-weight: bold; }

.visualClear {
  clear: both !important; }

.hiddenStructure {
  margin: -1px 0 0 -1px !important;
  padding: 0 !important;
  position: absolute;
  margin-left: -10000px !important; }

#content header {
  z-index: auto; }
#content #plone-document-byline {
  font-size: 0.75em;
  margin: 1em 0;
  color: #575757; }
#content .documentDescription {
  font-size: 1.25em;
  margin-bottom: 1.5em; }

body.mosaic-layout-customized {
  padding-top: 25px; }
  body.mosaic-layout-customized #portal-top,
  body.mosaic-layout-customized #portal-mainnavigation,
  body.mosaic-layout-customized #portal-breadcrumbs,
  body.mosaic-layout-customized .mosaic-blur {
    display: none; }
  body.mosaic-layout-customized #portal-column-content {
    margin: 1em 20%; }

body.userrole-authenticated footer {
  z-index: 0; }

#faceted-form {
  padding-top: 0; }
  #faceted-form #faceted-results .tileItem:first-child {
    margin-top: 0;
    padding-top: 0; }
  #faceted-form #right-area {
    padding: 0 1.5%; }
  #faceted-form #faceted-top-column .faceted-criteria dl, #faceted-form #faceted-top-column .faceted-criteria .faceted-criteria-hide-show, #faceted-form #faceted-top-column .faceted-criteria .faceted-criteria-reset,
  #faceted-form #center-content-area .faceted-criteria dl,
  #faceted-form #center-content-area .faceted-criteria .faceted-criteria-hide-show,
  #faceted-form #center-content-area .faceted-criteria .faceted-criteria-reset,
  #faceted-form #right-area .faceted-criteria dl,
  #faceted-form #right-area .faceted-criteria .faceted-criteria-hide-show,
  #faceted-form #right-area .faceted-criteria .faceted-criteria-reset {
    font-size: 0.875em;
    margin-left: 1em; }
  #faceted-form #faceted-top-column .faceted-criteria dl dt span,
  #faceted-form #center-content-area .faceted-criteria dl dt span,
  #faceted-form #right-area .faceted-criteria dl dt span {
    font-weight: 600; }
  #faceted-form #faceted-top-column .faceted-criteria dl dd,
  #faceted-form #center-content-area .faceted-criteria dl dd,
  #faceted-form #right-area .faceted-criteria dl dd {
    margin-left: 1em; }
  #faceted-form #faceted-top-column .widget-fieldset,
  #faceted-form #center-content-area .widget-fieldset,
  #faceted-form #right-area .widget-fieldset {
    border: none;
    padding: 0;
    margin: 0 0 1.5em 0; }
    #faceted-form #faceted-top-column .widget-fieldset legend,
    #faceted-form #center-content-area .widget-fieldset legend,
    #faceted-form #right-area .widget-fieldset legend {
      font-weight: 600;
      padding: 0;
      font-size: 1em; }
    #faceted-form #faceted-top-column .widget-fieldset form,
    #faceted-form #center-content-area .widget-fieldset form,
    #faceted-form #right-area .widget-fieldset form {
      font-size: 0.875em; }
      #faceted-form #faceted-top-column .widget-fieldset form input[id="SearchableText"],
      #faceted-form #center-content-area .widget-fieldset form input[id="SearchableText"],
      #faceted-form #right-area .widget-fieldset form input[id="SearchableText"] {
        margin: 0;
        font-size: 0.875em;
        padding: 0.25em 1%;
        width: 100%; }
      #faceted-form #faceted-top-column .widget-fieldset form input[id="SearchableText_button"],
      #faceted-form #center-content-area .widget-fieldset form input[id="SearchableText_button"],
      #faceted-form #right-area .widget-fieldset form input[id="SearchableText_button"] {
        display: block;
        margin: 0.375em 0 0 0;
        float: none;
        font-size: 0.875em; }
      #faceted-form #faceted-top-column .widget-fieldset form ul,
      #faceted-form #center-content-area .widget-fieldset form ul,
      #faceted-form #right-area .widget-fieldset form ul {
        margin: 0 0 0 0.75em;
        padding: 0; }
        #faceted-form #faceted-top-column .widget-fieldset form ul li,
        #faceted-form #center-content-area .widget-fieldset form ul li,
        #faceted-form #right-area .widget-fieldset form ul li {
          margin: 0;
          padding-left: 18px;
          line-height: 1.125; }
          #faceted-form #faceted-top-column .widget-fieldset form ul li input,
          #faceted-form #center-content-area .widget-fieldset form ul li input,
          #faceted-form #right-area .widget-fieldset form ul li input {
            margin-left: -18px;
            margin-top: 2px; }
          #faceted-form #faceted-top-column .widget-fieldset form ul li label,
          #faceted-form #center-content-area .widget-fieldset form ul li label,
          #faceted-form #right-area .widget-fieldset form ul li label {
            padding-left: 0; }
  #faceted-form #faceted-top-column .widget-fieldset form input[id="SearchableText"] {
    margin: 0;
    font-size: 0.875em;
    padding: 0.25em 0; }
  #faceted-form #faceted-top-column .widget-fieldset form input[id="SearchableText_button"] {
    display: block;
    margin: 0.375em 0 0 0;
    float: none;
    font-size: 0.875em; }

body.viewpermission-manage-portal #content,
body.viewpermission-add-portal-content #content,
body.viewpermission-manage-schemata #content,
body.viewpermission-plone-site-setup-site #content,
body.viewpermission-modify-portal-content #content,
body.viewpermission-portlets-manage-portlets #content,
body.viewpermission-plone-site-setup-overview #content,
body.viewpermission-plone-site-setup-users-and-groups #content,
body.viewpermission-list-folder-contents #content {
  margin-top: 2em; }

/*# sourceMappingURL=agsci.common.base.css.map */
