@import '../wpsu/custom-bootstrap';
@import 'base';
@import 'variables.plone';
@import 'alerts.plone';
@import '4-h';
@import 'extension.program';
@import 'intranet';
@import 'deans-list';

@include media-breakpoint-down(sm) {
    /* columns mobile */

    #main .mosaic-grid-row.container {
        padding-left: 0;
        padding-right: 0;
    }

    #main .mosaic-grid-row {
        .col-1,
        .col-10,
        .col-11,
        .col-12,
        .col-2,
        .col-3,
        .col-4,
        .col-5,
        .col-6,
        .col-7,
        .col-8,
        .col-9 {
            width: 100%;
            max-width: 100%;
        }
    }
}
