/* Error: Undefined mixin.
 *      ,
 * 1549 | / @include media-breakpoint-up(lg) {
 * 1550 | |     .mosaic-navigation {
 * 1551 | |         width: 25%;
 * 1552 | |         float: right;
 * 1553 | |     }
 * 1554 | \ }
 *      '
 *   _base.scss 1549:1           @import
 *   agsci.common.base.scss 1:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a      \2577 \a 1549 \2502  \250c  @include media-breakpoint-up(lg) {\a 1550 \2502  \2502      .mosaic-navigation {\a 1551 \2502  \2502          width: 25%;\a 1552 \2502  \2502          float: right;\a 1553 \2502  \2502      }\a 1554 \2502  \2514  }\a      \2575 \a   _base.scss 1549:1           @import\a   agsci.common.base.scss 1:9  root stylesheet";
}
