{% for _ in data %}
<div class="publication mb-5">

    <p>
        {% if _.publication_url %}<a href="{{_.publication_url.strip()}}">{% endif %}<span class="publication-title">{{ _.title }}</span>{% if _.publication_url %}</a>{% endif %}{% if _.journal_title %}<br /><span class="journal-name">{{_.journal_title}}</span>{% endif %}{% if _.contributors %}, {{ ", ".join(_.contributors) }}{% endif %}{% if _.published_on %}, {{_.published_on.year}}{% endif %}
    </p>

    {% if _.doi and _.doi.strip() %}

    <div
        class="altmetric-embed"
        data-badge-popover="right"
        data-badge-type="donut"
        data-doi="{{_.doi.strip()}}"
        data-hide-no-mentions="true"></div>
    {% endif %}

</div>

{% endfor %}
