.card.card-visual {
		padding: 0;
		position: relative;
		box-shadow: $box-shadow-light;
		margin-bottom: $card-group-margin;
		margin-top: $card-group-margin;
		position: relative;
			
		.card-image-top {
			background: $black;	
			overflow: hidden;
			position: relative;
			}
		
		img {
			transition: $transition-base
			}
		
		.card-body {
			padding: 1rem;
			background-color: $color-ps-coaly-gray-light35;
			}
			
			&:hover {
				box-shadow: $box-shadow-medium;
		
			&::before {
				opacity:1;
				}
			
			.card-body {
				background-color: $white;
				}
			}
	
	p.section-crumb {
		margin-top: 0;
		}

	p.h3 {
		font-size: $h4-font-size;
		line-height: $line-height-sm;
		margin-top: 0;
		}

	&:hover {
		
		.opacity-dimmer-bottom {
			background:
			linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			}
		}
	
	h3.card-title::after {
	    content: "";
	    position: absolute;
	    bottom: -0.375rem;
	    left: 0;
	    width: 4rem;
	    height: 1px;
	    border-bottom: 2px solid transparent;
	    z-index: 1;
	    }

	&:hover h3.card-title::after {
	    border-bottom: 2px solid $color-ps-creek;
	    }	
	
	h3.text-center.card-title::after {
	    content: "";
	    position: absolute;
	    bottom: -0.375rem;
	    left: 0;
	    right: 0;
	    width: 4rem;
	    margin: 0 auto;
	    height: 1px;
	    border-bottom: 2px solid transparent;
	    z-index: 9999;
	    }
	    
    &:hover h3.text-center.card-title::after {
    	border-bottom: 2px solid $color-ps-creek;
		}	

 /* when full card is not a link, option for links inside text */
 	
	a {
		text-decoration: none;
		color: #307e7a;
		border-bottom: $border-base;

		&:hover {
			border-bottom: $border-base;
			}
		}
	}

div.card .card-text {
	
	p {
		margin-bottom: 0.5rem;
		
		@include media-breakpoint-up(md) {
			font-size: $small2-size;
			}
		}
	
	ul {
		font-size: $small2-size;
		
		li {
			margin-top: 1rem;
			margin-bottom: 0.5rem;
			font-weight: $font-weight-bold;
			
			a {
				color: $black;
				border-bottom: $border-base;
				}
			
			ul {
				padding-left: 1.25rem;
				}
			
			li {
				margin-top: 0.5rem;
				font-weight: $font-weight-base;
				}
			}
		}
	}

.visual-cards-imgs-cropped .card-image-top {
	height: 8rem;
	overflow: hidden;
	}
	
.card-img-crop { /* more than square */
	width: 100%;
	height: 0;
	padding-bottom: 120%;
	overflow: hidden;
	position: relative;

	img {
		width: 100%;
		position: absolute;
		top: -10%;	
		}
	}


.card .card-img-overlay {
	z-index: 2;
	padding: 0.5rem 1rem;
	
	h3.card-title {
		position: relative;
		margin-bottom: 0.5rem;
		font-size: $font-size-lg;
		line-height: $line-height-xs;
		text-shadow: 2px 2px 8px rgba($black,0.75);
		}
	}

@include media-breakpoint-up(md) {
	
	.card-deck-2up .card .card-img-overlay h3.card-title { 
		font-size: $h2-font-size;
		}
	}

.card.card-visual.card-horizontal {
	
	.row {
		background-color: $color-ps-coaly-gray-light35;
		}
	
	&:hover .row {
		background-color: $white;
		}
	
	h3.card-title {
		font-size: $h4-font-size;
		position: relative;
		
		@include media-breakpoint-up(md) {
			font-size: $h5-font-size;
			}
			
		&::after {
			border-bottom-color: $color-ps-creek;
			}
		}
	
	p {
		font-size: $small1-size;
		line-height: $line-height-base;		
		margin-bottom: 0;
		padding-top: .125rem;
		
		@include media-breakpoint-up(md) {
			font-size: $small3-size;
			}
		
		}
	}
	