.card-deck-text-only {
	position: relative;
	}
	
.card.card-text-only {
		background: $color-ps-coaly-gray-light35;
		transition: $transition-base;
		padding: 1rem;
		margin-bottom: 1rem;
		margin-top: 1rem;
		box-shadow: $box-shadow-light;

		&:hover {
			background: $white;
			box-shadow: $box-shadow-medium;
			}
	
	.card-body {
		padding: 0;
		background: transparent;
		}
	}