.card.card-cta {
    margin-bottom: 0.5rem;
    transition: $transition-base;

    .card-body {
        position: relative;
        padding: 3rem 1.25rem;
        background: transparent;

        p,
        h2.h4,
        h3.h4 {
            margin-bottom: 1rem;
            padding: 0.5rem;
            border: transparent;
            font-size: $h4-font-size;
            font-family: $font-family-sans-serif;
            line-height: $line-height-sm;
        }

        h2.h4 {
            text-shadow: none;
            position: static;
        }

        h2.h4:after {
            border-bottom: none;
        }

        .btn {
            position: relative;
            padding: 0.5rem 1rem;
            background: transparent;
            border: 1px solid $white;
            color: $white;
        }

        &:hover,
        &:focus {

            .btn {
                background: $white;
                border: 1px solid transparent;
            }
        }
    }

    &.bg-dark-slate {

        .card-body {
            background: $color-ps-slate-gray;
        }

        &:hover,
        &:focus {

            .card-body {
                background: lighten($color-ps-slate-gray,10%);
            }

            .btn {
                color: $color-ps-slate-gray;
            }
        }
    }

    &.bg-dark-purple {

        .card-body {
            background: $color-ps-perpetual-purple;
        }

        &:hover,
        &:focus {

            .card-body {
                background: lighten($color-ps-perpetual-purple,10%);
            }

            .btn {
                color: $color-ps-perpetual-purple;
            }
        }
    }

    &.bg-dark-orange {

        .card-body {
            background: darken($color-ps-invent-orange,11%);
        }

        &:hover,
        &:focus {

            .card-body {
                background: $color-ps-invent-orange;
            }

            .btn {
                color: darken($color-ps-invent-orange,11%);
            }
        }
    }

    &.bg-dark-green {

        .card-body {
            background: darken($color-ps-future-green,16%);
        }

        &:hover,
        &:focus {

            .card-body {
                background: darken($color-ps-future-green,10%);
            }

            .btn {
                color: darken($color-ps-future-green,16%);
            }
        }
    }


    &.bg-dark-4-h-accent-1 {

        .card-body {
            background: darken($color-4-h-accent-1,10%);
        }

        &:hover,
        &:focus {

            .card-body {
                background: darken($color-4-h-accent-1,5%);
            }

            .btn {
                color: darken($color-4-h-accent-1,10%);
            }
        }
    }

    &.bg-dark-4-h-accent-2 {

        .card-body {
            background: darken($color-4-h-accent-2,10%);
        }

        &:hover,
        &:focus {

            .card-body {
                background: darken($color-4-h-accent-2,5%);
            }

            .btn {
                color: darken($color-4-h-accent-2,10%);
            }
        }
    }

    &.bg-dark-4-h-accent-3 {

        .card-body {
            background: darken($color-4-h-accent-3,10%);
        }

        &:hover,
        &:focus {

            .card-body {
                background: darken($color-4-h-accent-3,5%);
            }

            .btn {
                color: darken($color-4-h-accent-3,10%);
            }
        }
    }

    &.bg-dark-ep-accent-1 {

        .card-body {
            background: darken($color-ep-accent-1,10%);
        }

        &:hover,
        &:focus {

            .card-body {
                background: darken($color-ep-accent-1,5%);
            }

            .btn {
                color: darken($color-ep-accent-1,10%);
            }
        }
    }

    &.bg-dark-ep-accent-2 {

        .card-body {
            background: darken($color-ep-accent-2,10%);
        }

        &:hover,
        &:focus {

            .card-body {
                background: darken($color-ep-accent-2,5%);
            }

            .btn {
                color: darken($color-ep-accent-2,10%);
            }
        }
    }

    &.bg-dark-ep-accent-3 {

        .card-body {
            background: darken($color-ep-accent-3,10%);
        }

        &:hover,
        &:focus {

            .card-body {
                background: darken($color-ep-accent-3,5%);
            }

            .btn {
                color: darken($color-ep-accent-3,10%);
            }
        }
    }
}

.container-text .cta-card { /* floated within content */
    margin-bottom: 1rem;
}