/* ----------------------------------------------------------

CARD DECK - EVENTS

---------------------------------------------------------- */

.card-deck.card-deck-events {
	margin-bottom: 0;
	}

.card.card-event {
	border: none;
	background: none;
	padding: 0;
	overflow: visible;
	margin-bottom: 1rem;
	
	.card-body {
		padding: 1rem;	
		}
	
	.card-title p {
		font-weight: $font-weight-bold; 
		}

	.card-text p {
		font-family: $font-family-sans-serif;
		line-height: $line-height-md;
		}
	
	&:hover {
		border: none;
		background: none;
		box-shadow: $box-shadow-medium;
		}
	
	.event-date-block {
		margin-right: 0;
		}
	
	img {
		object-fit: cover;
		object-position: 50% 50%;
		height: 100%;
		width: 100%;
		}
			
	.card-image {
		overflow: hidden;
		height: 5.5rem;
		}
	}

.event-date-block {
	padding: 0.5rem;
	display: block;
	text-align: center;
	float: left;
	margin-right: 1rem;
	font-family: $font-family-sans-serif;
	background: $color-ps-creek-light25;
	color: $color-ps-nittany-navy;
	box-shadow: none;
	margin-top: 0;
	width: 5.5rem;
	height: 5.5rem;
	max-width: 5.5rem;
	
	div {
		display: inline-block;
		}
	}

.event-day {
	font-size: $small3-size;
	line-height: 1;
	border-bottom: 1px solid $color-ps-creek;
	margin-bottom: 0.25rem;
	padding-bottom: 0.25rem;
	}

.event-month {
	font-size: $small1-size;
	text-transform: uppercase;
	line-height: 1;
	width: 100%;
	}

.event-date {
	font-size: $h2-font-size;
	font-weight: $font-weight-boldest;
	line-height: 1;
	width: 100%;
	}

.event-details p {
	font-size: $small3-size;
	line-height: $line-height-md;
	margin-bottom: 0;
	}
	
.events-new {
	.card.card-event {
		box-shadow: $box-shadow-light;
		
		&:hover {
			box-shadow: $box-shadow-medium;
			}
		}
	}
	