.card.card-cta {
	transition: $transition-base;
	margin-bottom: 0.5rem;
		
	.card-body {
		padding: 3rem 1.25rem;	
		position: relative;
		background: transparent;
		
		p {
			border: transparent;
			margin-bottom: 1rem;
			font-size: $h4-font-size;
			font-family: $font-family-sans-serif;
			line-height: $line-height-sm;
			padding: 0.5rem;
			}

		.btn {
			border: 1px solid $white;
			color: $white;
			background: transparent;
			position: relative;
			padding: 0.5rem 1rem;
			}
	
		&:hover {
		    
		    .btn {
				background: $white;
				border: 1px solid transparent;
				}
		    }
		}
			
	&.bg-dark-purple {
			
		.card-body {
			background: $color-ps-perpetual-purple;	
			}
		
			&:hover {		
				
				.card-body {
					background: lighten($color-ps-perpetual-purple,10%);
					}

				.btn {
					color:  $color-ps-perpetual-purple;
					}
				}
			}
	
	&.bg-dark-orange {
		
		.card-body {
			background: darken($color-ps-invent-orange,10%);	
			}
			
			&:hover {
				
				.card-body {
					background: $color-ps-invent-orange;
					}

				.btn {
					color:  darken($color-ps-invent-orange,10%);
					}
				}
			}
	
	&.bg-dark-green {
		
		.card-body {
			background:  darken($color-ps-future-green,10%);
			}
			
			&:hover {
				
				.card-body {
					background: darken($color-ps-future-green,5%);
					}

				.btn {
					color: darken($color-ps-future-green,10%);
					}
				}
			}
		}

.container-text .cta-card { /* floated within content */
	margin-bottom: 1rem;
	}