.centered-callout {
    padding-bottom: 1.5rem;
    text-align: center;


    h2::after {
        right: 0;
        left: 0;
        margin: auto;
        }
        
    p {
        font-weight: $font-weight-base;
        font-size: $font-size-base;
        }
    }