.cta-bar {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: transparent;
	margin-top: 0;
	margin-bottom: 0;
	
	&.cta-bar-dark {
		background: darken($color-ps-nittany-navy,5%);
		}
	
	&.cta-bar-light {
		background: lighten($color-ps-coaly-gray,40%);
		}
	
	.btn {
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
		padding: 1.5vh 4.5vw; /* new padding to bulk up buttons */	
		}	
	}

@include media-breakpoint-up(sm) {
	.cta-bar .btn {
		padding: 2vh 8vw; /* new padding to bulk up buttons */
		}
	}

@include media-breakpoint-up(xxl) {
	.cta-bar .btn {
		padding: 2vh 6vw;
		}
	}
	
	
