/* ----------------------------------------------------------

DEGREE EXPLORER

---------------------------------------------------------- */

.card .highlight-tag {
	margin: 0.5rem;
	font-size: $small3-size;
	}

.degree-explorer {
	
	label {
		font-family: $font-family-sans-serif;
		font-size: $small3-size;
		margin-left: 0.25rem;
		margin-bottom: 0;
		}
	}

.degree-explorer-filters {
	position: sticky;
	top: 3rem;
	border-bottom: transparent;
	padding: 0.25rem;
	background: lighten($color-ps-coaly-gray,60%);
	
	.controls {
		text-align: left;
		}
		
	fieldset {
		background-color: lighten($color-ps-coaly-gray,65%);
		padding: 0.25rem 0.75rem;
		margin-right: 0;
		border: 1px solid rgba($color-ps-coaly-gray,.5);
		margin-bottom: 1rem;
		width: 100%;
		max-height: 12rem;
		overflow:auto;
		}
	
	ul {
		list-style-type: none;
		text-align: left;
		padding-left: 0;
		margin-bottom: 0;
		
		li {
			display: flex;
			align-items: baseline;
			margin-top: .25rem;
			margin-bottom: .25rem;
			}
		}
	


	}

.card-deck .mix.card.card-visual .card-body {
	padding-bottom: 0;
	padding-top: 0;
	
	.checkbox {
		align-items: baseline; 
	}
	
	}

.mix {
	position: relative;
	}


fieldset{
	display: inline-block;
	vertical-align: top;
	border: 0;
	}	

.container .mix{
	display: none;
	}

.container .fail-message{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: 150ms;
	-moz-transition: 150ms;
	transition: 150ms;
	text-align: center;
	pointer-events: none;
	}

.container .fail-message:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	}

.container .fail-message span{
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	font-weight: 700;
	}

.container.fail .fail-message{
	opacity: 1;
	pointer-events: auto;
	}

button.filter {
	border: transparent;
	background: transparent;
	text-align: left;
	font-family: $font-family-sans-serif;
	font-size: $small2-size;
	width: 100%;
	cursor: pointer;
	}
