/* ----------------------------------------------------------

FOOTER

---------------------------------------------------------- */

footer { /* relative and high z-index to mask any affixed nav */
	position: relative;
	background-color: $color-ps-nittany-navy;
	z-index: 9;

	img.agsci-logo {
		width: 300px;
		height: auto;
		}
		
	.fa-stack {
		text-align: center;
		}
	
	li.footer-list-head {
		display: block;
		font-weight: $font-weight-base;
		font-size: $font-size-sm;
		font-family: $font-family-base;
		}

	.footer-details-block {
		padding-bottom: 0.5rem;
		}
	
	p.footerLinks {
		margin-bottom: 0.25rem;
		font-size: $small4-size;
		font-family: $font-family-sans-serif;
		line-height: $line-height-md;
		}
		
	ul {
		margin-bottom: 0;
		padding-left: 0;
		list-style-type: none;
		font-size: $font-size-base;
		font-family: $font-family-sans-serif;

		li {
			margin-left: 0.25rem;
			margin-right: 0.25rem;
			padding-bottom: 0.25rem;
			padding-top: 0.25rem;
			}
		}
	
	ul.list-inline li {
		margin-left: 0;
		margin-right: 0;
		}
	
	ul.list-inline.list-inline-contact {
		margin-bottom: 0;
		font-size: $small3-size;
		}
		
	abbr[title] {
		text-decoration: none;
		}
			
	abbr:hover{
		cursor: default;
		}
	}

	footer ul.list-inline-social {
		text-align: center;
		}

@include media-breakpoint-up(sm) {
	footer ul.list-inline-social {
		text-align: left;
		}
	}
	
@include media-breakpoint-up(lg) {
	
	footer ul.list-inline-social {
		border-left: transparent;
		}
	}

li.li-separator::after {
		content: '|';
		margin-right: 0.25rem;
		margin-left: 0.5rem;
		vertical-align: baseline;
		color: $color-ps-creek;
		font-weight: $font-weight-light;
		font-size: $font-size-base;
		}
		
/* Footer - Department Level
--------------------------------------------- */

.department-level {
	footer {
		background-color: darken($color-ps-nittany-navy,5%);
		
		img.agsci-logo {
			width: 224px;
			height: 40px;
			}
		}
	}

@include media-breakpoint-up(md) {
	
	.department-level footer img.agsci-logo {
		width: 280px;
		height: 50px;
		}
	}

.footer-department-level {
	padding: 1rem 0;
	background-color: darken($color-ps-nittany-navy,5%);
	
	p.department-name {
		display: inline-block;
		margin-bottom: 0.25rem;	
		padding-bottom: 0.5rem;
		border-bottom: $border-base;		
		color: $white;
		font-size: $h4-font-size;
		font-family: $font-family-base;
		line-height: $line-height-sm;

		}
	
	ul li {
		padding-top: 0;
		}
	
	ul.list-inline-dept-links {
		font-size: $small2-size;
		
		li {
			margin: 0 0 0.5rem 0;
			}
		}
	}
