blockquote {
	padding: 2rem 0;
	margin-bottom: 2rem;
	color: $color-ps-slate-gray;
	text-transform: none;
	text-align: left;
	font-size: $h2-font-size;
	font-family: $font-family-base;
	font-weight: $font-weight-bolder;
	margin-top: 2rem;
	line-height: $line-height-sm;

	.fas {
		color: rgba($color-ps-slate-gray,0.5);
		vertical-align: sub;
		}

	cite {
		display: block;
		text-align: right;
		margin-top: 1rem;
		margin-right: 1rem;
		line-height: $line-height-md;
		font-family: $font-family-sans-serif;
		font-weight: $font-weight-boldest;
		color: $color-ps-slate-gray;
		font-size: $font-size-sm;
		text-transform: uppercase;	
		font-style: normal;
		
		span {
			font-style: italic;
			}
		}
	}

@include media-breakpoint-up(sm) {
	
	blockquote {
		padding: 2rem 3rem;
		}
	}
	
@include media-breakpoint-up(lg) {
	
	blockquote {
		padding: 2rem 6rem;
		}
	}
	