button {
	cursor: pointer;
	}
	
.btn {
	font-family: $font-family-sans-serif;
	font-weight: $font-weight-normal;
	font-size: $small2-size;
	padding: 0.5rem 1rem;
	transition: $transition-base;
	}
	
.btn {
	white-space: normal; /* override bootstrap default so button text can break - otherwise it can fix width and add scrollbars */
	}

.btn-large {
	padding: 1rem 3rem;	
	}	 

.btn.btn-sm {
	font-size: $small3-size;
	padding: 0.25rem 0.75rem;
	}

.btn.btn-primary {
	margin-bottom: 1rem;
	padding: 1rem 2rem;
	border-color: $color-ps-creek; 
	background-color: $color-ps-creek;
	color: $white;
	
	&:hover {
		background-color: $color-ps-creek-light10;
		}
	}

.btn.btn-college-nav {
	font-size: $small3-size;
	}

button.btn-link,	
.btn-link a,
a.btn-link,
a.card .btn-link {
	padding: 0;
	color: $color-ps-creek-accessible;
	border: 1px solid transparent;
	
	&::after {
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		font-family: 'Font Awesome 5 Free';
		content: "\f061";
		font-weight: 900;  
		margin-left: 0.25rem;
		line-height: $line-height-md;		
		}
	}

button.btn-link:hover,
a:hover .btn-link,
a.btn-link:hover {
	border-bottom: 1px solid $color-ps-creek-accessible;
	}

.btn.btn-light-gray {
	background: lighten($color-ps-limestone-gray,30%);
	border: transparent;
	position: relative;
	color: $black;
	
	&:hover {
	    background: lighten($color-ps-limestone-gray,35%);
	    }
    }

.btn.btn-light-creek-outline {
	border: 1px solid $color-ps-creek-light30;
	position: relative;
	color: $color-ps-creek-accessible;
	background: $white;
	
	&:hover {
	    background: $color-ps-creek;
	    color: $white;
	    }
    }
    
.btn.btn-creek {
	background: $color-ps-creek-accessible;
	border: transparent;
	position: relative;
	color: $white;
	
	&:hover {
	    background: $color-ps-creek;
	    }
    }
  
.form-inline .btn.btn-creek {
	box-shadow: none;
	}
    
.btn.btn-cta {
	background: $color-ps-nittany-navy;
	position: relative;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	word-break: normal;
	display: block;
	}
  
.btn.btn-orange {
	background: darken($color-ps-invent-orange,10%);
	border: transparent;
	position: relative;
	color: $white;
	
	&:hover{
	    background: $color-ps-invent-orange;
	    }
    }

.btn.btn-green {
	background: darken($color-ps-future-green,10%);
	border: transparent;
	position: relative;
	color: $white;
	
	&:hover{
	    background: darken($color-ps-future-green,5%)
	    }
    }
    
.btn.btn-purple {
	background: lighten($color-ps-perpetual-purple,10%);
	border: transparent;
	position: relative;
	color: $white;
	
	&:hover{
	    background: lighten($color-ps-perpetual-purple,20%);
	    }
    }
    