
/* ----------------------------------------------------------

FORM - BASIC

---------------------------------------------------------- */

.pfg-form {
	padding: 1rem;
	background: $color-ps-coaly-gray-light30;
	
	fieldset {
		background-color: $color-ps-coaly-gray-light35;
		padding: 1rem;
		margin-right: 0;
		border: 1px solid $color-ps-coaly-gray-light20;
		margin-bottom: 2rem;
		width: 100%;
		}
	
	legend {
		margin: 0 0 1rem 0;
		letter-spacing: $letter-spacing-sm;
		font-family: $font-family-sans-serif;
		position: relative;
		display: block;
		font-size: $font-size-lg;
		font-weight: $font-weight-bolder;
		font-weight: bold;
		float: left;
		width: 100%;
		}
	
	.formHelp {
		font-family: $font-family-sans-serif;
		font-style: italic;
		}
	
	.formQuestion {
		margin-bottom: 0.5rem;
		font-size: $font-size-sm;
		margin-top: 1.5rem;
		}
	
	.ArchetypesMultiSelectionValue {
		display: flex;
		align-items: baseline;
		margin-bottom: 0.5rem;
		
		input {
			margin-left: 0.5rem;
			margin-right: 0.25rem;
			}
		
		label {
			margin-bottom: 0;
			}
		}
	
	label {
		font-family: $font-family-sans-serif;
		color: $black-accessible-gray;
		font-size: $small2-size;
		margin-bottom: 0.25rem;
		display: block;
		}
	
	input[type=checkbox] + label {
		display: inline-block;
		}
	
	div.field {
		margin-top: 1rem;
		}
	
	input[type=text],
	textarea {
		border: 1px solid $color-ps-coaly-gray-light20;
		font-family: $font-family-sans-serif;
		font-size: $small3-size;
		color: $black;
		padding: 0.25rem;
		}
		
	textarea {
		width: 100%;
		}
	
	select {
		font-size: $small2-size;
		font-family: $font-family-sans-serif;
		max-width: 100%; /* prevent scroll on moblie with wide select menu */
		}
	
	.btn {
		margin-top: 1rem;
		}
	}

