button {
    cursor: pointer;

    &.disabled {
        pointer-events: none;
        }
    }

.btn {
    position: relative;
    padding: 0.5rem 1rem;
    border: transparent;
    font-weight: $font-weight-normal;
    font-size: $small2-size;
    font-family: $font-family-sans-serif;
    transition: $transition-base;
    }

.btn {
    white-space: normal; /* override bootstrap default so button text can break - otherwise it can fix width and add scrollbars */
    }

.btn-large {
    padding: 1rem 3rem;
    }

.btn.btn-sm {
    padding: 0.25rem 0.75rem;
    font-size: $small3-size;
    }

.btn.btn-primary {
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border: 1px solid $color-ps-creek;
    background-color: $color-ps-creek;
    color: $white;

    &:hover,
    &:focus {
        background-color: $color-ps-creek-light10;
        }
    }

.btn.btn-college-nav {
    font-size: $small3-size;
    }

button.btn-link,
.btn-link a,
a.btn-link,
a.card .btn-link {
    padding: 0;
    border: 1px solid transparent;
    color: $color-ps-creek-accessible;

    &::after {
        content: "\f061";
        display: inline-block;
        margin-left: 0.25rem;
        font-weight: 900;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: 'Font Awesome 5 Free';
        line-height: $line-height-md;
        }
    }

button.btn-link:hover,
a:hover .btn-link,
a.btn-link:hover,
button.btn-link:focus,
a:focus .btn-link,
a.btn-link:focus {
    border-bottom: 1px solid $color-ps-creek-accessible;
    }

.btn.btn-light-gray {
    background: lighten($color-ps-limestone-gray,30%);

    color: $black;

    &:hover,
    &:focus {
        background: lighten($color-ps-limestone-gray,35%);
        }
    }

.btn.btn-light-creek-outline {
    background: $white;
    border: 1px solid $color-ps-creek-light30;
    color: $color-ps-creek-accessible;

    &:hover,
    &:focus {
        background: $color-ps-creek;
        color: $white;
        }
    }

.btn.btn-creek {
    background: $color-ps-creek-accessible;
    color: $white;

    &:hover,
    &:focus {
        background: $color-ps-creek;
        }
    }

.form-inline .btn.btn-creek {
    box-shadow: none;
    }

.btn.btn-cta {
    display: block;
    background: $color-ps-nittany-navy;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    word-break: normal;
    }

.btn.btn-orange {
    background: darken($color-ps-invent-orange,11%);
    color: $white;

    &:hover,
    &:focus {
        background: $color-ps-invent-orange;
        }
    }

.btn.btn-green {
    background: darken($color-ps-future-green,16%);
    color: $white;

    &:hover,
    &:focus {
        background: darken($color-ps-future-green,5%)
        }
    }

.btn.btn-purple {
    background: lighten($color-ps-perpetual-purple,10%);
    color: $white;

    &:hover,
    &:focus {
        background: lighten($color-ps-perpetual-purple,20%);
        }
    }

.btn.btn-slate {
    background: lighten($color-ps-slate-gray,10%);
    color: $white;

    &:hover,
    &:focus {
        background: lighten($color-ps-slate-gray,20%);
        }
    }
