/* ----------------------------------------------------------

CREEK LIST

Department Landing Page - "block" style lists
for highlighting department offerings.
Testing these as of March 11 for discussion

---------------------------------------------------------- */

.h3-list-creek {
    font-family: $font-family-base;
    margin-top: 3.5rem;
    font-size: 1.5rem;
    color: $color-ps-coaly-gray;
    }

ul.list-creek,
ul.list-gray {
    list-style-type: none;
    padding-left: 0;
    font-size: $font-size-base;
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-bold;

    li a {
        padding: 1rem 1.5rem;
        display: block;
        border-bottom: transparent;
        transition: $transition-long;
        }

    li {
        margin-bottom: 1px;
        margin-top: 0;
        }
    }

ul.list-creek {
    li a {

        &:hover,
        &:nth-of-type(n):hover {
            background: $color-ps-creek-light35;
            }
        }

    li {
        &:nth-of-type(1) a {
            background: $color-ps-creek-light10;
            }

        &:nth-of-type(2) a {
            background: $color-ps-creek-light15;
            }

        &:nth-of-type(3) a {
            background: $color-ps-creek-light20;
            }

        &:nth-of-type(4) a {
            background: $color-ps-creek-light25;
            }

        &:nth-of-type(5) a {
            background: $color-ps-creek-light30;
            }

        &:nth-of-type(6) a {
            background: $color-ps-creek-light35;
            }
        }
    }


ul.list-gray {
    li a {

        &:hover,
        &:nth-of-type(n):hover {
            background: #f1f2f3;
            }
        }

    li {
        &:nth-of-type(1) a {
            background: #adb0b5;
            }

        &:nth-of-type(2) a {
            background: #babdc1;
            }

        &:nth-of-type(3) a {
            background: #c8cace;
            }

        &:nth-of-type(4) a {
            background: #d6d7da;
            }

        &:nth-of-type(5) a {
            background: #e4e5e6;
            }

        &:nth-of-type(6) a {
            background: #f1f2f3;
            }
        }
    }


ul.list-creek-horizontal {
    display: flex;
    flex-direction: column;
    text-align: center;

    li {
        flex: 1 0 0;

        a {
            display: flex;
            min-height: 3rem;
            justify-content: center;
            align-items: center;
            }
        }
    }

@include media-breakpoint-up(md) {
    ul.list-creek-horizontal {
        flex-direction: row;

        li a {
            min-height: 7rem;
            }

        }
    }
