/* SideNav
--------------------------------------------- */

.navbar.collapsing-sidenav {
    border-bottom: transparent;
    margin-bottom: 1rem;

    .btn {
        margin-bottom: 0;
        }

    .side-nav {
        padding-top: 0;

        ul {
            margin-bottom: 0;
            }
        }

    .navbar {
        box-shadow: none;
        border-bottom: transparent;
        }

    .navbar-collapse {
        background: transparent;
        padding-left: 0;
        padding-right: 0;
        align-items:flex-start;
        margin-top: 0;
        max-height: none;
        }

    [data-toggle="collapse"] {
        padding: 0.75rem 1rem;
        display: block;
        cursor: pointer;
        border-left: none;
        }

    .dropdown-menu {
        border: transparent;
        width: 100%;
        }

    .navbar .dropdown-menu div[class*="col"] {
        margin-bottom: 0;
        }
    }

.sidebar {
    background-color: $color-ps-coaly-gray-light35;

    p {
        font-size: $small3-size;
        }
    }

    .side-nav {
        padding-top: 1rem;
        width: 100%;

        a {
            font-family: $font-family-sans-serif;
            font-size: $small2-size;
            }

        p {
            margin-bottom: 0;
            line-height: $line-height-sm;

            a {
                color: $white;
                font-size: $font-size-sm;
                font-weight: $font-weight-base;
                border-left: transparent;
                background-color: $color-ps-creek-light30;
                }
            }

    p a {
        color: $black-accessible-gray;
        font-family: $font-family-base;
        }

@include media-breakpoint-up(lg) {

    .side-nav {

        a {
            font-size: $small3-size;
            }

        .dropdown-menu {
            width: auto;
            }
        }
    }

/* Nav List -
--------------------------------------------- */

    ul {
        padding-left: 0;
        list-style-type: none;
        margin-top: 1px;
        }

    li.section-level-1.navTreeCurrentNode {

        > a {
            font-weight: $font-weight-bold;
            border-left: 0.5rem solid $color-ps-creek;
            background: rgba($color-ps-coaly-gray,0.075);
            }
        }

     a {
        display: block;
        background: $color-ps-coaly-gray-light35;
        border-left:  0.5rem solid $color-ps-coaly-gray-light30;
        padding: 0.75rem .875rem;
        margin-bottom: 1px;

        &:hover {
            background: $color-ps-coaly-gray-light30;
            color: darken($color-ps-coaly-gray,35%);
            border-left: 0.5rem solid $color-ps-creek;
            }

        &.dropdown-toggle:hover {
            border-left: 0;
            }
        }

    .dropdown-menu {
        display: none;
        transition-delay: 0.375s;

        &.show {
            display: block;
            }
        }
    }

.side-nav .btn {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    }

.navTree {
    position: relative;
    }

/* dropdown level 1 */
.navbar.collapsing-sidenav ul.navTreeLevel1 {
        margin-top: 0;
        border: 0.5rem solid $color-ps-coaly-gray-light30;
        border-top: none;

        li a {
            border-left: none;
            padding-left: .5rem;
            background-color: $white;
            margin-left: 1rem;
            margin-right: 1rem;

            &:hover {
                background-color: $color-ps-coaly-gray-light30;
                }
            }
    }


.navbar.collapsing-sidenav ul.navTreeLevel1,
.navbar.collapsing-sidenav ul.navTreeLevel2 {

    li a.navTreeCurrentNode {
        font-weight: $font-weight-bold;

        &::before {
            content: '\f061';
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            margin-right: 0.25rem;
            position: relative;
            color: $color-ps-creek;

            }
        }
    }


/* dropdown level 2 */
.navbar.collapsing-sidenav ul.navTreeLevel2 {
    border: none;
    margin-bottom: 0.25rem;
    border-left: 1px solid $color-ps-coaly-gray-light15;
    margin-left: 2rem;

    li a {
        margin-left: 0;
        margin-right: 0.5rem;
        font-style: italic;
        }
    }

.side-nav .dropdown {
    position: relative;

    [data-toggle="collapse"] {
        position: relative;
        top: 0;
        right: 0;
        border: transparent;
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: $small2-size;

        span {
            color: $black;
            }

        &:focus {
            outline: none;
            }

        i {
            color: $color-ps-creek;
            position: relative;
            }

        &:hover {

            i {
                color: $color-ps-creek-light10;
                }
            }

        &[aria-expanded="true"] i {
            transform: rotate(180deg);
            color: $color-ps-invent-orange;
            }
    }

    &.section-level-1 [data-toggle="collapse"] {
        background-color: $color-ps-coaly-gray-light35;
        border-left:  0.5rem solid $color-ps-coaly-gray-light30;
        }

    &.section-level-2 [data-toggle="collapse"] {
        padding-left: 1.5rem;
        background-color: transparent;
        border-left:  0;
        }

    .dropdown-menu.show {
        width: 100%;
        position: relative;
        z-index: 0;
        }

    .dropdown-menu {
        padding: 0;
        border-bottom: none;
        box-shadow: none;

        a {
            margin-left: 0;
            margin-right: 1rem;
            padding-left: 0.5rem;
            }

        a:hover {
            border-bottom: 1px solid $color-ps-creek;
            }

        &:after {
            content: none;
            }
        }
    }

@include media-breakpoint-up(lg) { /* toggle converts to button only at large break */
    .side-nav .dropdown {

        [data-toggle="collapse"] {
            background-color: transparent;
            position: absolute;
            top: 0;
            right: 0;
            border: transparent;
            width: auto;
            }

            &.section-level-1 [data-toggle="collapse"] {
            background-color: transparent;
            border-left:  transparent;
            }
        }
    }


.side-nav .dropdown .dropdown-menu .nav-level2 a.dropdown-toggle {
    margin-left: 0;
    margin-right: 0;

    &:hover {
        border: none;
        }
    }


.sidebar-contact { /* need div to hold contact card to prevent collapsing on mobile */
    width: 100%;
    display: block;

    .card.test-sq-img {
        margin-top: 0;
        width: 100%;
        }
    }

@include media-breakpoint-up(sm) {
    .sidebar-contact {
        width: 66.66%;
        }
    }

@include media-breakpoint-up(md) {
    .sidebar-contact {
        width: 50%;
        }
    }

@include media-breakpoint-up(lg) {
    .sidebar-contact {
        width: 100%;
        }
    }
