
.container-fluid.section-highlight {
	background-color: $color-ps-coaly-gray-light35;
	}

.container-fluid.section-highlight:nth-of-type(even) {
	background-color: $color-ps-coaly-gray-light30;
	}
	
.section-highlight {
	
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		}
	}

.section-highlight-text {
	
	h2 {
		font-size: 1.5rem;
		margin-top: 1rem;
		}
	
	p.section-crumb {
		margin-bottom: 0.75rem;
		font-size: $h2-font-size;
		font-weight: $font-weight-bold;
		text-transform: none;
		padding-bottom: 0;
	
		a {
			color: $color-ps-creek-accessible;
			}
		
		a:hover {
			color: $color-ps-creek;
			border-bottom: 1px solid $color-ps-creek-accessible;
			}
		}
	
	p {
		font-size: $small1-size;
		line-height: $line-height-base;	
		}	
	}
		
@include media-breakpoint-up(xl) {
		
	.section-highlight-text {
			
		p {
			font-size: $font-size-sm;
			}
		}
	}