/* ----------------------------------------------------------

SOCIAL MEDIA LISTS

---------------------------------------------------------- */

a em.fa-facebook-square {
	color: #4267b2;
	}
		
a em.fa-twitter {
	color: #38A1F3;
	}

a em.fa-twitter-square {
	color: #38A1F3;
	}
	
a em.fa-instagram-square {
	color: #0077B5;
	}
	
a em.fa-linkedin {
	color: #0077B5;
	}
	
a em.fa-youtube-square {
	color: #FF0000;
	}

a.email,
a.phone,
a.pdf,
a.full-bio,
span.fax {
	margin: 0.25rem 0.75rem 0.25rem 0;
	display: block;
	
	.fas {
		color: #949798;
		}
	}
	
/* List Social
	Vertical List - e.g. sidebar
	with link hover on name (not icon)
--------------------------------------------- */

ul.list-social {
	text-align: left;
	list-style-type: none;
	font-family: $font-family-sans-serif;
	font-size: $small3-size;
	padding-left: 1rem;
	width: 100%;
	
	em {
		margin-right: 0.125rem;
		}
	
	li {
		margin-bottom: 0.375rem;
		margin-top: 0.375rem;
		line-height: 2;
		
		span, em {
			display: inline-block;
			vertical-align: middle;
			border-bottom: 1px solid transparent;
			}
		}
	
	a:hover span {
		border-bottom: 1px solid $color-ps-creek;
		}
	}

/* List Social - Inline
--------------------------------------------- */
			
ul.list-inline.list-inline-social {
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 0;
	
	li {
		padding-bottom: 0;	
		}
	}

address {
	
	ul.list-inline.list-inline-social {
		margin-top: 0.75rem;
		}
	}

/* Override border hover
--------------------------------------------- */	

address, 
.container-text,
.directory-more {
	
	ul.list-inline-social li a,
	ul.list-inline-social li a:hover {
		border-bottom: transparent;
		}
	}

/* ul.list-inline-social {
		display: inline;
		} 	  
 @include media-breakpoint-up(lg) {
	ul.list-inline-social {
		display: inline;
		} 	
	}
	 */
