<a href="{{ href }}" 
   class="card card-cta bg-dark-{{ color }} px-0 reveal text-center float-{{ align }} float-third">
	
	<div class="card-body text-white">
		<p class="h4 mt-0">{{ html|safe }}</p>	
		<div class="btn point-at-me-sm">{{ label }}</div>		
	</div>
</a>