<a href="{{ href }}"
   class="card card-cta bg-dark-{{ color }} px-0 reveal text-center {% if not full %} float-{{ align }} float-third {% endif %}">

    <div class="card-body text-white">
        <p class="h4 mt-0">{{ html|safe }}</p>
        <div class="btn point-at-me-sm">{{ label }}</div>
    </div>
</a>