<figure class="float-third float-{{ align }}">
    <div class="card reveal card-portable-highlight">
        <div class="card-body">
            <p>
                {{ pre }}
                <span>{{ value }}</span>
                {{ html|safe }}
            </p>
        </div>
    </div>
</figure>